.after_yellow_line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #fbda4e;
  bottom: 12px;
  z-index: -1;
  left: 0;
}
#OurPartner .Logos {
  width: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#OurPartner .Logos:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  box-shadow: 0px 10px 20px rgba(5, 5, 5, 0.08);
  border-radius: 20px;
  transform: scale(1.05);
  cursor: pointer;
}

#OurPartner .slick-prev:before {
  content: "" !important;
}
#OurPartner .slick-next:before {
  content: "" !important;
}
#OurPartner .slick-prev {
  position: absolute;

  width: 40px !important;
  height: 40px !important;
  background: url(./assets/img/png/Btn__Sider_Next.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  z-index: 1234 !important;
  transform: rotate(180deg) translateY(50%);
  top: 50% !important;
  left: 0 !important;
}
#OurPartner .slick-next {
  width: 40px !important;
  height: 40px !important;
  background: url(./assets/img/png/Btn__Sider_Next.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  z-index: 1234 !important;
  top: 50% !important;
  right: 0 !important;
}
#OurPartner .slick-prev:hover {
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35) !important;
  border-radius: 50% !important;
}
#OurPartner .slick-next:hover {
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35) !important;
  border-radius: 50% !important;
}
/* Choseus */
#Choseus .btn_Choseus {
  padding: 12px 14px;
  /* width: 180px; */
  min-width: 150px;
  background: white;
  position: relative;
}
#Choseus .btn_Choseus::after {
  position: absolute;
  content: "";
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20%;
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
#Choseus .btn_Choseus::before {
  position: absolute;
  content: "";
  left: -22%;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
#Choseus .btn_Choseus_hover {
  color: white !important;
  background-color: #faca10 !important;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
}
#Choseus .btn_Choseus_hover::before {
  background-color: #faca10 !important;
}
#Choseus .btn_Choseus_hover::after {
  background-color: #faca10 !important;
}
#Choseus .Img_Shaddow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
#Choseus div.bg-white:hover .Img_Shaddow {
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
}
#TestiMonials .image_1 {
  display: none;
}
#TestiMonials .image_2 {
  display: none;
}
#TestiMonials .image_3 {
  width: 156px;
}
.bg_gray_testimonals {
  background-color: #f6f6f6 !important;
}

#TestiMonials .Outerring {
  height: 100%;
  width: 100%;
}
#TestiMonials .slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "" !important;
  text-align: center;
  /* opacity: 1 !important; */
  background-color: #faca10 !important;
  border-radius: 50% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#TestiMonials .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#perfect .box_border {
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: -22px 23px 30px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  transition: all 250ms ease-in-out;
}
#perfect .box_border:hover {
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
  border-radius: 30px;
  transition: all 250ms ease-in-out;
}
#perfect .btn_ReadMore {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  background: #faca10;
  border: 2px solid transparent;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
#perfect .btn_ReadMore:hover {
  background: white;
  color: #faca10 !important;
  border: 2px solid #faca10;
  transition: all 250ms ease-in-out;
}
#perfect .ff_img_position {
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
#perfect .lightYellow_img_position {
  bottom: -40px;
  left: 0px;
}
#perfect .gray_img_position {
  right: -40px;
  bottom: 50px;
}

#perfect .gray_digital_position {
  bottom: -100px;
  left: 50px;
}
#perfect .digita_lightyellow_position {
  bottom: -60px;
  right: 50px;
}
#perfect .gray_digital_position_top {
  top: -100px;
  left: -10px;
}
/* ==================================== get ================================= */

#get .get_box {
  background: #ffffff;
  box-shadow: 0px 19px 34px 14px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  transition: all 250ms ease-in-out;
}
#get .get_box:hover {
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
  transition: all 250ms ease-in-out;
}
.outline_none {
  outline: none;
}
.border_none {
  border: none;
}

#get .border_bottom {
  border-bottom: 2px solid #a5a5a5;
}
#get .submit_btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  padding-right: 46px;
  background: #faca10;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 250ms ease-in-out;
}
#get .submit_btn:hover {
  background: transparent;
  color: #faca10 !important;
  border: 2px solid #faca10;
  transition: all 250ms ease-in-out;
}

#get .css-13cymwt-control {
  border: none !important;
  background-color: transparent !important;
}
#get .css-t3ipsp-control {
  border: transparent !important;
  outline: none !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
#get .css-1xc3v61-indicatorContainer {
  color: #1e1e1e !important;
  cursor: pointer !important;
}
#get .css-t3ipsp-control:active {
  border: transparent !important;
  outline: none !important;
  background-color: transparent !important;
  border: none !important;
}
#get .css-1u9des2-indicatorSeparator {
  display: none !important;
}
#get .css-1jqq78o-placeholder {
  grid-area: 1/1/2/3;
  color: #1e1e1e !important;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}
#get .cursor_pointer {
  cursor: pointer !important;
}
#get.get_bg_img {
  background-image: url("../src/assets/img/png/GET-bg-img.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
/* =================================== blog ============================== */
#blog .blog_box {
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
}
#blog .blog_box:hover {
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
}

/* =================================== Details Ipsum ===================== */
#DetailIpsum.lorem_ipsum_bg {
  background-color: #f6f6f6;
}
/* =============================== Coaching ============================= */
#Coaching.bg_gray {
  background-color: #f6f6f6;
}
#Coaching .coaching_box {
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
}
#Coaching .coaching_box:hover {
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
}
/* ==========================mj================ */
.cursor_pointer {
  cursor: pointer;
}

.threeline {
  width: 35px;
  z-index: 99999 !important;
  position: inherit;
}
.threelinechild {
  width: 100%;
  border-radius: 30px;
  height: 4px;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
  background-color: #faca10;
}

.falseline1 {
  width: 80%;
  height: 4px;
  margin: 0;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
  transform: skewY(44deg) translate(5%, -10%);
}
.falseline3 {
  width: 80%;
  margin: 0;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
  transform: skewY(-44deg) translate(2%, 16%);
}
.shownav {
  position: fixed;
  width: 100vw;
  height: 100vh !important;
  background: #faca10;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
  transition: all 0.4s ease-in-out;
}
.hidenav {
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  background: #faca10;
  left: -110%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out !important;
  z-index: 9999 !important;
}

/* BTN */
.get_touch_btn {
  background: #faca10;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  padding: 9.5px 21.5px;
  border: 2px solid transparent;
}
.get_touch_btn:hover {
  background: transparent;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  padding: 9.5px 21.5px;
  border: 2px solid #faca10;
  color: #faca10 !important;
}
#Header a.after_yellow_line1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  background-color: #fbda4e;
  bottom: 3px;
  z-index: -1 !important;
  right: 0;
  transition: all 250ms ease-in-out;
}
#Header a:hover.after_yellow_line1::after {
  width: 100%;
  left: 0;
}
#Footer a.after_yellow_line1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  background-color: #fbda4e;
  bottom: 3px;
  z-index: -1 !important;
  right: 0;
  transition: all 250ms ease-in-out;
}
#Footer a:hover.after_yellow_line1::after {
  width: 100%;
  left: 0;
}
#Header a:hover {
  color: black;
}

/* Hero */
#Hero.hero_bg_img {
  background-image: url(../src/assets/img/png/hero-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.logo {
  width: 150px;
}
.bg_gray_hero {
  background: #f3f6f6;
}
.C_position {
  top: 30%;
  left: 40%;
}
.text_shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* DetailHero */
#DetailHero .hero_img_shadow {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
#DetailHero .ovel_around_img1 {
  bottom: -10%;
  left: -12%;
  z-index: 0;
  width: 139px;
  height: 139px;
}

/* Research-section */
.ovel_around_img {
  bottom: -15%;
  left: 0%;
  z-index: -1;
  width: 139px;
  height: 139px;
}
.icon_over_img {
  top: 8%;
  left: -10.5%;
}
.slider_btn {
  background: #facb1073;
  border-radius: 0px 30px 30px 0px;
  padding: 12px 19.5px 11px 19px;
}
.slider_btn:hover {
  background: #facb10;
  border-radius: 0px 30px 30px 0px;
  padding: 12px 19.5px 11px 19px;
}
.right_img {
  filter: grayscale(100%) !important;
}
/* Footer */
#Footer a {
  color: #1e1e1e;
}
#Footer a:hover svg.fill-change path {
  fill: #fbcc04;
}

/* ourCase */
#OurCases ::placeholder {
  color: #c4c4c4;
}
#OurCases .btn_OurCases {
  padding: 12px 14px;
  min-width: 150px;
  background: white;
  border: 2px solid #f7f7f7;
  box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
#OurCases .btn_OurCases::after {
  position: absolute;
  content: "";
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20%;
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
#OurCases .btn_OurCases::before {
  position: absolute;
  content: "";
  left: -22%;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
#OurCases .btn_OurCases_hover {
  color: white !important;
  border: 2px solid #f7f7f7;
  box-shadow: 0px 10px 40px -12px #ffcc00;
  border-radius: 5px;
  background-color: #faca10 !important;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
}
#OurCases .btn_OurCases_hover::before {
  background-color: #faca10 !important;
}
#OurCases .btn_OurCases_hover::after {
  background-color: #faca10 !important;
}
#OurCases.bg_gray {
  background-color: #f6f6f6;
}
#OurCases .OurCases_box {
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
}
#OurCases .OurCases_box:hover {
  box-shadow: -2px 2px 30px rgba(250, 202, 16, 0.4);
}
#OurCases .width_custom__Input_OurCases {
  width: 75%;
}

@media (min-width: 576px) {
  #OurCases .width_custom__Input_OurCases {
    width: 50%;
  }
  #TestiMonials .image_2 {
    width: 112px;
    display: block;
  }
  #OurPartner .slick-prev {
    transform: rotate(180deg) translate(72%, 50%);
  }
  #OurPartner .slick-next {
    transform: translate(72%, -50%);
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .logo {
    width: 200px;
    height: 37px;
  }

  #Hero.bg_img {
    background-image: url(./assets/img/webp/header-img.webp);
    background-repeat: no-repeat;
    background-size: 600px 83%;
    background-position: bottom right;
    width: 100%;
  }
  #CasesHero.bg_img1 {
    background-image: url(./assets/img/webp/cases-hero-img.webp);
    background-repeat: no-repeat;
    background-size: 600px 360px;
    background-position: bottom right;
    width: 100%;
  }
  #JourneyHero.bg_img1 {
    background-image: url(./assets/img/webp/jeurney-hero-img.webp);
    background-repeat: no-repeat;
    background-size: 600px 360px;
    background-position: bottom right;
    width: 100%;
  }
  #TestiMonials .image_1 {
    max-width: 62px !important ;
    overflow: hidden;
    display: block;
  }
  #perfect .transform_translet_x {
    transform: translateX(30px);
  }
  /* #get .transform_translet_y {
    transform: translateY(20%);
  } */
  #get.get_bg_img {
    background-image: url(../src/assets/img/png/GET-bg-img.png);
    background-position: top;
    background-size: 100%, 396px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  #OurCases .width_custom__Input_OurCases {
    width: unset;
  }
  .logo {
    width: 253px;
    height: 37px;
  }
  .min_vh_100 {
    min-height: 100vh;
  }
  #Hero .c_img_position {
    left: -15%;
    top: 25%;
  }

  #Hero.bg_img {
    background-size: 750px 560px;
    background-position: bottom right;
  }
  #CasesHero.bg_img1 {
    background-size: 750px 500px;
    background-position: bottom right;
  }
  #JourneyHero.bg_img1 {
    background-size: 750px 500px;
    background-position: bottom right;
  }
  #OurPartner .Logos {
    width: 240px;
  }
}
@media (min-width: 1400px) {
  #Hero .c_img_position {
    left: -5%;
    top: 25%;
  }
  #Hero.bg_img {
    background-size: 825px 88%;
    background-position: bottom right;
  }
  #CasesHero.bg_img1 {
    background-size: 850px 560px;
    background-position: center right;
  }
  #JourneyHero.bg_img1 {
    background-size: 850px 560px;
    background-position: center right;
  }
  #OurPartner .Logos {
    width: 250px;
  }
  #OurPartner .slick-prev {
    width: 50px !important;
    height: 50px !important;
    transform: rotate(180deg) translate(50%, 50%);
  }
  #OurPartner .slick-next {
    width: 50px !important;
    height: 50px !important;
    transform: translate(50%, -50%);
  }
}
textarea ::placeholder {
  width: 100% !important;
}
@media (min-width: 1500px) {
  #Hero .c_img_position {
    left: 0%;
    top: 24%;
  }
}
